{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra_css %}
{% endblock %}

{% block content %}

<div class="row">
    <h2>Upcoming Events</h2>
    <div class="grid-container" id="event-grid-container">
        {% for event in event_list %}
            {% if not event.expired %}
            <a href="{% url 'event_page' event.id %}">
                <div class="event-card center-align">
                    <div class="card-header">
                        {% if event.image_url %}
                            <img class="card-img responsive" src="{{ event.image_url }}" alt="{{ event.name }}">
                        {% else %}
                            <img class="card-img responsive" src="https://ik.imagekit.io/iscs6ll976z/gigs/wfsd_WQese8SPZ?ik-sdk-version=javascript-1.4.3&updatedAt=1649335299966" alt="{{ event.name }}">
                        {% endif %}
                    </div>
                    <div class="card-body">
                        <h4>{{ event.name }}</h4>
                        <h5>{{ event.venue }}</h5>
                        <h5>{{ event.date}} @ {{ event.time }}</h5>
                    </div>
                </div>
            </a>
            {% endif %}
        {% endfor %}
    </div>
</div>

<div class="row">
    <h2>Expired Events</h2>
    <div class="grid-container" id="event-grid-container">
        {% for event in event_list %}
            {% if event.expired %}
            <a href="{% url 'event_page' event.id %}">
                <div class="event-card center-align">
                    <div class="card-header">
                        {% if event.image_url %}
                            <img class="card-img responsive" src="{{ event.image_url }}" alt="{{ event.name }}">
                        {% endif %}
                    </div>
                    <div class="card-body">
                        <h4>{{ event.name }}</h4>
                        <h5>{{ event.venue }}</h5>
                        <h5>{{ event.date}} @ {{ event.time }}</h5>
                    </div>
                </div>
            </a>
            {% endif %}
        {% endfor %}
    </div>
</div>

{% endblock %}