{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra_css %}
{% endblock %}

{% block content %}

<h2 class="text-center">Studio Services For Hire</h2>
<h3>Barna, Galway</h3>
<div class="row">
    <div class="col-md-6">
        <img style="width: 100%; height: auto;" src="https://ik.imagekit.io/iscs6ll976z/studio_Vnxw6gFzj.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1649336880324" alt="DJgreen"/>
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-6">
                <img style="width: 100%; height: auto;" src="https://ik.imagekit.io/iscs6ll976z/studio/274878908_659473405373938_4215665096268890355_n_x4i0iqGBS.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1649844423297" alt="DJgreen"/>
            </div>
            <div class="col-md-6">
                <img style="width: 100%; height: auto;" src="https://ik.imagekit.io/iscs6ll976z/studio/274898007_992402374814940_1326853473254137131_n_8unalzqsy.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1649844423377" alt="DJgreen"/>
            </div>
        </div>
        <div class="row" style="margin-top: 25px;">
            <div class="col-md-6">
                <img style="width: 100%; height: auto;" src="https://ik.imagekit.io/iscs6ll976z/studio/274964666_338427601557161_1466968363965261865_n_TiQUA_dfq.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1649844423584" alt="DJgreen"/>
            </div>
            <div class="col-md-6">
                <img style="width: 100%; height: auto;" src="https://ik.imagekit.io/iscs6ll976z/studio/274933323_665184308131325_8154138971638710866_n_9orY9gcOp.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1649844423598" alt="DJgreen"/>
            </div>
        </div>
    </div>
</div>
<br>
<h3>Dooradoyle, Limerick</h3>
<div class="row">
    <div class="col-md-5">
        <img id="damz" src="https://ik.imagekit.io/iscs6ll976z/hrthtr_31kMINSOX?ik-sdk-version=javascript-1.4.3&updatedAt=1649336922436" alt="Damz"/>
    </div>
    <div class="col-md-7">
        <div class="row">
            <div class="col-md-6">
                <img style="width: 100%; height: auto;" src="https://ik.imagekit.io/iscs6ll976z/studio/edrthtre_1fQVlwe_i?ik-sdk-version=javascript-1.4.3&updatedAt=1649845248113" alt="Damz"/>
            </div>
            <div class="col-md-6">
                <img style="width: 100%; height: auto;" src="https://ik.imagekit.io/iscs6ll976z/studio/swrrgt5e_ALrdv_rSg?ik-sdk-version=javascript-1.4.3&updatedAt=1649845275619" alt="Damz"/>
            </div>
        </div>
        <div class="row" style="margin-top: 25px;">
            <div class="col-md-6">
                <img style="width: 100%; height: auto;" src="https://ik.imagekit.io/iscs6ll976z/studio/5thkjm_5BGXDlFiS?ik-sdk-version=javascript-1.4.3&updatedAt=1649845310705" alt="Damz"/>
            </div>
            <div class="col-md-6">
                <img style="width: 100%; height: auto;" src="https://ik.imagekit.io/iscs6ll976z/studio/278216029_298628402451424_2198513130820986934_n_MUh_5_tbC.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1649864712909" alt="Damz"/>
            </div>
        </div>
    </div>
</div>

{% endblock %}