{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% block meta %}
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Zen+Kaku+Gothic+Antique:wght@500&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique:wght@500&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&family=Lato&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link rel="stylesheet" href="{% static 'base.css' %}">
        <link rel="shortcut icon" type="image/png" href="https://ik.imagekit.io/iscs6ll976z/favicon.ico">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
        <script src="https://js.stripe.com/v3/"></script>
        <script src="{% static 'base.js' %}"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>Bad Arts {% block extra_title %}{% endblock %}</title>

</head>
<body>
    <header class="container responsive"></header>

    {% block page_header %}
    {% endblock %}

    <div class="container responsive">
        {% block content %}
        
        {% endblock %}
    </div>

    {% block post_js %}
    {% endblock %}

    {% block postloadjs %}

    {% endblock %}
</body>
</html>