{% load static %}
{% load crispy_forms_tags %}
<div id="edit-personal-details" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form action="{% url 'my_profile' %}" method="POST" id="profile-update-form">
            <div class="modal-content">
                <h5 class="text-center">Edit Profile</h5>
                <p class="text-center">These delivery details will be used in your next order!</p>
                {% csrf_token %}
                {% for field in form %}
                    {{ field | as_crispy_field }}
                {% endfor %}
                <div class="modal-footer">
                    <button class="btn btn-dark" type="submit">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>