<!--Start of footer-->
<footer class="page-footer sticky-footer font-small pt-4">
    <div class="container-fluid footer-main">
        <div class="row">
            <!--Start of left footer column-->
            <div class="col-md-4 mb-4 text-center" id="left-col">
                <h3><br>Join our mailing list</h3>
                <form id="mailing" name="mailing" action="index.html" method="GET">
                    <label>Please enter your email address:</label><br>
                    <input type="text" class="mailing-email" name="email" placeholder="  Email Address" autocomplete="off" required><br>
                    <label>Are you over 18?</label>
                    <input type="radio" name="age" value="yes" /> Yes
                    <input type="radio" name="age" value="no" /> No<br>
                    <button class="btn btn-sm" id="mailing-button2" type="submit">Join</button>
                </form>
            </div>
            <!--End of left footer column-->

            <!--Start of center column-->
            <div class="col-md-4 mb-4 text-center" id="center-col">
                <br>
                <h3>Bad Arts Entertainment</h3>
                <p>An independent hip hop label based in<br>Limerick City.</p>
                <a href="https://twitter.com/BadArtsEnterta1?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @BadArtsEnterta1</a>
            </div>
            <!--End of center column-->

            <!--Start of right footer column-->
            <div class="col-md-4 mb-4 text-center" id="right-col">
                <h3 class="text-center"><br>Find us:</h3><br>
                <div class="footer-icons">
                    <a class="footer-links" href="https://www.facebook.com/badartsentertainment/"
                        target="_blank">
                        <i class="fab fa-facebook fa-lg white-text mr-md-5 mr-3 fa-2x"></i>
                    </a>
                    <a class="footer-links" href="https://www.instagram.com/badartpresents/?hl=en"
                        target="_blank">
                        <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                    </a>
                    <a class="footer-links" href="https://www.youtube.com/channel/UCThENMecXQjSUiKiTjWP5Dw"
                        target="_blank">
                        <i class="fab fa-youtube fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!--End of right footer column-->

    <!--Start of copyright banner-->
    <div class="footer-copyright text-center py-3">
        Copyright &#169; Bad Arts Entertainment 2022
    </div>
    <!--End of copyright banner-->
</footer>
<!--End of footer-->