*{
    padding: 0;
    margin: 0;
}

html{
    min-height: 100%;
}

body{
    background-color: black;
    font-family: "Kanit", sans-serif;
}



h1, h2, h3, h4, h5, h6{
    font-family: "Kanit", sans-serif;
    color: orangered;
}

p{
    font-family: "Kanit", sans-serif;
    color: orangered; 
}

#content-wrapper{
    overflow: hidden; 
}

nav{
    background-color: black;
    height: 100px;
    z-index: 9;
}

.nav{
    padding-top: 50px;
    z-index: 10;
}

.navbar-collapse{
    background-color: black;
    color: orangered;
}

.navbar-collapse #other-items{
    text-align: center;
    float: right;
    width: 50%;
}

.nav-title{
    font-family: "Holtwood One SC", sans-serif;
    color: orangered;
    font-size: 2.75rem;
    position: relative;
    bottom: 0px;
}

.nav-link{
    font-family: "Kanit", sans-serif;
    color: orangered;
    font-size: 1.75rem;
}

.nav-link:hover{
    background-color: orangered;
    color: black;
}

.navbar-img{
    width: 100%;
    height: 95px;
}

#other-items{
    position: relative;
    right: 0px;
}

.other-item button{
   width: 100px;
   height: 66px;
}

#logo a img{
    border-radius: 55%;
    position: relative;
    bottom: 25px;
}

.fa-bars{
    color: orangered;
}

.modal-content{
    background-color: #fefefe;
}

#flyoutModal{
    width: 1000px;
}

#flyoutHeader{
    color: black;
}

/* Flyout Modal code taken from https://www.solodev.com/blog/web-design/bootstrap/how-to-create-a-flyout-bootstrap-modal.stml */

.fadeInRight {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
  }
  
  @keyframes fadeInRight {
    from {
      opacity: 0;
      transform: translate3d(100%, 0, 0);
    }
  
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
  
  @-webkit-keyframes fadeInRight {
    from {
      opacity: 0;
      transform: translate3d(100%, 0, 0);
    }
  
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
  
  .modal-dialog {
    margin: 0;
  }
  
  .animated {
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  .modal-header {
    border-radius: 0;
    background-color: #fefefe;
    border-color: black;
    align-items: center;
    padding: 1.2rem;
  }
  
  .modal-content {
    border-radius: 0;
    border: 0;
    box-shadow: -12px 0 38px -14px rgba(0, 0, 0, 0.25);
    background-clip: padding-box;
  }

  /* End of Flyout Modal styling */

  .modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .modal-backdrop {
    background-color: black;
  }

  .mailing-p{
      color: black;
  }
  
  .modal-button-container {
    margin: 0 auto;
    width: 90%;
    max-width: 500px;
  }

.checkout-image img{
    width: 50%;
    height: auto;
}

.mailing{
    color: black;
}

#mailing-button1{
    background-color: black;
    color: orangered;
}

#mailing-button1:hover{
    color: white;
    border: 1px solid white;
}

.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
    justify-items: center;
}

footer{
    color: orangered;
    background-color: black;
}

.footer-main{
    position: relative;
    bottom: 75px;
}

.footer-copyright{
    position: relative;
    bottom: 25px;
}

#mailing{
    color: orangered;
}

#mailing-button2{
    background-color: orangered;
    color: black;
}

#mailing-button2:hover{
    background-color: orangered;
    color: white;
    border: 1px solid white;
}

.footer-icons{
    display: flex;
    justify-content: space-evenly;
    position: relative;
    left: 0px;
}

#center-col{
    position: relative;
    top: 7px;
}

.mailing-email{
    width: 55%;
    background-color: black;
    color: white;
    box-sizing: border-box;
    border-radius: 15px;
}

#right-col h3{
    position: relative;
    right: 20px;
}

#carousel-main{
    position: relative;
    bottom: 23px;
    z-index: 1;
}

#carousel-main .carousel-item{
    height: 486px;
}

#carousel-main .carousel-control-prev-icon,
#carousel-main .carousel-control-next-icon{
        position: relative;
        top: 50px;
}

.jumbo-text{
    background-color: rgba(0,0,0,0.8);
    width: 25%;
    border: 2px solid orangered;
    position: relative;
    right: 300px;
    bottom: 0px;
}

.display-4{
    font-size: 1.5rem;
}

.lead{
    font-size: 1rem;
    color: white;
}

#carousel-releases img{
    width:100%;
    height:100%;
}

@-moz-document url-prefix() {
    #carousel-releases img {
        max-width: 100%;
        max-height: 100%;
    }
}

#carousel-releases-mobile img{
    width: 100%;
    height: 100%;
}

#r1{
    display: block;
}

#r1-mobile{
    display: none;
}

.carousel-item{
    height: 486px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 30px;
  width: 30px;
  outline: white;
  border-radius: 50%;
  border: 1px solid white;
  background-color: orangered;
  position: relative;
  bottom: 100px;
}

.card{
    background-color: black;
    color: orangered;
}

.truncate{
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    -webkit-line-clamp: 8;
}

.truncate-btn{
    width: 20%;
    background-color: orangered;
    border-radius: 5%;
    max-width: 100px;
}

.artist-releases-song-title{
    color: orangered;
}

.artist-releases-title{
    text-decoration: none;
    color: orangered;
}

.artist-p{
    color: white;
}

.card-body p{
    color: white;
}

.card-body iframe{
    width: 100%;
}

#r2{
    max-width: 75%;
    height: auto;
    margin: 0 auto;
}

.card-wrapper{
    width: 300px;
    height: 300px;
}

.content{
    position: relative;
    height: 100%;
    width: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.card-wrapper:hover .content{
    transform: rotateY(180deg);
    transition: 1s;
}


.face-front{
    backface-visibility: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    color: orangered;
    z-index: 2;
}

.face-back{
    backface-visibility: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    color: orangered;
    border: 1px solid orangered;
    z-index: 3;
    transform: rotateY(180deg);
}

#artists{
    position: relative;
    bottom: 125px;
    height: auto;
}

.artist-h3{
    font-size: 2.75rem;
}

#artist-profile-image{
    width: 100%;
    height: auto;
}

.card-img img{
    width: 100%;
    height: auto;
}

.card-icons{
    display: flex;
    justify-content: center;
}

.card-icons i{
    padding: 0 2px;
}

.fa-spotify{
    color: #1DB954;
}

.fa-spotify:hover{
    color: rgb(0, 255, 89);
}

.fa-youtube{
    color: rgb(190, 0, 0);
}

.fa-youtube:hover{
    color: rgb(255, 0, 0);
}

.fa-bandcamp{
    color: #629aa9;
}

.fa-bandcamp:hover{
    color: #13c2f3;
}

.fa-facebook{
    color: #0051ff;
}

.fa-facebook:hover{
    color: #6d9bfd;
}

.fa-instagram{
    color: #e00ba0;
}

.fa-instagram:hover{
    color: #e00b64;
}

.fa-arrow-left{
    position: relative;
    left: 50px;
    top: 25px;
    color: white;
}

.open-close{
    display: flex;
    justify-content: center;
}

.h2-box h2{
    text-decoration: none;
}

#event-container .event-title{
    font-size: 1.25rem;
    text-decoration: none;
}

#event-container .card-date{
    font-size: 1rem;
    border: 1px solid black;
    color: white;
}

.card-block .card-title, .card-block .card-date, .card-block .card-text{
    text-align: center;
    color: black;
}

.card-block .ticket{
    margin: 0 auto;
    padding: 25px;

}

.card-event{
    margin-bottom: 20px;
    background-image: url(../img/ts.png);
    background-repeat: no-repeat;
    background-position: center;
}

#twitter-container{
    width:100%;
    height: 100%;
}

.shop-container{
    width: 100%;
}

.merch-gallery{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    max-width: 1400px;
    grid-gap: 5px;
    margin: 0 75px;
}

.merch{
    position: relative;
    overflow: hidden;
}

/*  Credit: code for the hover text animation taken from https://www.youtube.com/watch?v=ltxxNidblts 
        and slightly modified.  */

.merch-text{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: grid;
    align-items: center;
    justify-items: center;
    font-size: 18px;
    transform: translateY(-100%);
    transition: 0.2s;
}

.merch-text p{
    font-family: 'Kanit', serif;
    font-size: 1.5rem;
}

.merch-img{
    width: 100%;
}

/*  Credit: code for the hover text animation taken from https://www.youtube.com/watch?v=ltxxNidblts 
        and slightly modified.  */

.merch:hover .merch-text{
    transform: translateY(0);
    text-decoration: none;
    color: orangered;
}

#merch-cd{
    margin: 0 300px;
}

#merch-clothes{
    margin-bottom: 10px;
}

.product-img img{
    width: 90%;
    height: auto;
}

.product-price{
    font-size: 1.25rem;
    border: 3px solid orangered;
    background-color: black;
    color: white;
}

.product-description{
    color: white;
}

.product-text{
    color: orangered;
}

.product-text h2{
    color: white;
}

.checkout-qty{
    width: 7.5%;
}

.btn-warning{
    background-color: orangered;
    color: black;
}

.btn-warning:hover{
    background-color: orangered;
    color: white;
}

#contact-h3{
    margin: 30px 0px;
}

#map{
    width: 85%;
    height: 400px;
    float: right;
}

#contact-form{
    width: 75%;
}

#contact-form label{
    color: orangered;
}

#contact-details{
    margin-bottom: 50px;
}

#message{
    height: 150px;
}

#contact-button{
    background-color: orangered;
    color: black;
}

#contact-button:hover{
    color: white;
    border: 1px solid white;
}

#video-h2{
    padding-top: 5px;
}

#video-wrapper{
    width: 90%;
    -moz-column-count: 4;
         column-count: 4;
    grid-row-gap: 10px;
    padding-bottom: 15px;
}

.grid-item img{
    max-width: 100%;
    height: auto;
    margin: 5px;
}

@media only screen and (max-width: 1400px){
 
}

@media only screen and (max-width: 1305px){
    
    #merch-cd{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
        grid-gap: 5px;
        margin: 0 75px;
    }

}

@media only screen and (max-width: 1250px){
    #carousel-releases img{
        height: 250px;
        width: 250px;
    }

    #artists{
    position: relative;
    bottom: 200px;
    }

    #carousel-main .carousel-control-prev-icon,
    #carousel-main .carousel-control-next-icon{
        position: relative;
        top: 30px;
    }

    .nav-title{
        color: orangered;
        font-size:1.75rem;
        position: relative;
        bottom: 0px;
    }

     .nav-link{
        color: orangered;
        font-size: 1.25rem;
    }

    #other-items{
        position: relative;
        bottom: 0px;
    }

}

@media only screen and (max-width: 1080px){

    #video-wrapper{
        -moz-column-count: 2;
             column-count: 2;
        width: 75%;
    }

    .card-event{
        width: 110%;
        height: 110%;
    }

     .jumbo-text{
    width: 75%;
    position: relative;
    left: 0px;
    top: 0px;
    }

    .display-4{
    font-size: 1.25rem;
    }

    .lead{
    font-size: 1rem;
    }
}

@media only screen and (max-width: 900px){
    
}

@media only screen and (max-width: 850px){
     #merch-cd{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        grid-gap: 5px;
        margin: 0 75px;
    }
}

@media only screen and (max-width: 825px){
   
    #event-container .event-title{
    font-size: 1rem;
    }

    #event-container .card-date{
    font-size: 0.75rem;
    }

    #event-container .card-text{
        font-size: 0.75rem;
    }

}

@media only screen and (max-width: 800px){
    .navbar-brand img{
        height: 75px;
    }

}

@media only screen and (max-width: 768px){

   #contact-form{
       width: 100%;
   }

   #contact-button{
       float: left;
   }

   .card-img{
    display: flex;
    justify-content: center;
   }

   .card-img img{
    width: 365px;
    height: auto;
    }

    #carousel-main .carousel-item{
    height: 365px;
    }

   

     .card-event{
       position: relative;
       right: 20px;
    }

    #right-col h3{
        position: relative;
        right: 0px;
    }

    #map{
        width: 100%;
    }
 
}

@media only screen and (max-width: 660px){

    .nav-title{
        display: none;
    }


}

@media only screen and (max-width: 500px){

    .merch .merch-img{
        width: 75%;
    }
}

@media only screen and (max-width: 450px){
    #video-wrapper{
        -moz-column-count: 1;
             column-count: 1;
    }

     .card-event{
       position: relative;
       right: 5px;
    }

}

@media only screen and (max-width: 380px){

    .merch .merch-img{
        width: 50%;
    }
}

@media only screen and (max-width: 275px){

    .merch .merch-img{
        width: 25%;
    }
}