{% extends "base.html" %}
{% load static %}


{% block content %}
<div class="row">
    <div class="col-md-6">
        <div class="product-img">
            {% if product.image_url %}
                <img class="card-img responsive" src="{{ product.image_url }}" alt="{{ product.name }}">
            {% else %}
                <img class="card-img responsive" src="https://ik.imagekit.io/iscs6ll976z/noimage.png" alt="{{ product.name }}">
            {% endif %}
        </div>
    </div>
    <div class="col-md-6">
        <div class="product-text">
            <h2>{{ product.name }}</h2><br>
            <span class="product-price">€{{ product.price }}</span><br><br>
            <p>Item Description:</p>
            <p style="color: white;">{{ product.description }}</p>
            {% if not product.in_stock %}
                <span id="out-of-stock">OUT OF STOCK</span>
            {% else %}
                <span id="out-of-stock">Email badartsentertainment@gmail.com for purchase.</span>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}