{% extends "base.html" %}
{% block content %}

<!--Start of parent container-->
<div class="container-fluid shop-container">
    <div class="h2-box">
        <h2 class="title-h2 text-center">Physical Media</h2>
    </div>
    <!--Start of physical media container-->
    <div class="merch-gallery" id="merch-cd">
        <div class="merch">
            <img class="img-responsive merch-img" src="assets/img/m2small.jpg" alt="merch1"/>
            <a class="merch-text" href="product1.html">
                <p>Kushlawn Cocá CD (SOLD OUT)</p>
            </a>
        </div>
        <div class="merch">
            <img class="img-responsive merch-img" src="assets/img/merch3.jpg" alt="merch2"/>
            <a class="merch-text" href="product.html">
                <p>Sick Caint CD (SOLD OUT)</p>
            </a>
        </div>
    </div>
    <!--End of physical media container-->
    <div class="h2-box">
        <h2 class="title-h2 text-center">Clothing</h2>
    </div>
    <!--Start of clothing container-->
    <div class="merch-gallery" id="merch-clothes">
        <div class="merch">
            <img class="img-responsive merch-img" src="assets/img/merch1small.jpg" alt="merch3"/>
            <a class="merch-text" href="product2.html">
                <p>DJ Green t-shirt (SOLD OUT)</p>
            </a>
        </div>
        <div class="merch">
            <img class="img-responsive merch-img" src="assets/img/m4.png" alt="merch4"/>
            <a class="merch-text" href="product3.html">
                <p>Big Man Davey t-shirt(15e)</p>
            </a>
        </div><div class="merch">
            <img class="img-responsive merch-img" src="assets/img/m5.jpg" alt="merch5"/>
            <a class="merch-text" href="product4.html">
                <p>Trust t-shirt(15e)</p>
            </a>
        </div><div class="merch">
            <img class="img-responsive merch-img" src="assets/img/m11.jpg" alt="merch6"/>
            <a class="merch-text" href="product5.html">
                <p>Calum t-shirt(15e)</p>
            </a>
        </div><div class="merch">
            <img class="img-responsive merch-img" src="assets/img/m7.jpg" alt="merch7"/>
            <a class="merch-text" href="product6.html">
                <p>Same D4Ence t-shirt(15e)</p>
            </a>
        </div><div class="merch">
            <img class="img-responsive merch-img" src="assets/img/m12.jpg" alt="merch8"/>
            <a class="merch-text" href="product7.html">
                <p>MCB t-shirt(15e)</p>
            </a>
        </div><div class="merch">
            <img class="img-responsive merch-img" src="assets/img/m3.png" alt="merch9"/>
            <a class="merch-text" href="product8.html">
                <p>Green t-shirt(15e)</p>
            </a>
        </div><div class="merch">
            <img class="img-responsive merch-img" src="assets/img/m9.jpg" alt="merch10"/>
            <a class="merch-text" href="product9.html">
                <p>Cali t-shirt(15e)</p>
            </a>
        </div><div class="merch">
            <img class="img-responsive merch-img" src="assets/img/m10.jpg" alt="merch11"/>
            <a class="merch-text" href="product10.html">
                <p>Haze t-shirt(15e)</p>
            </a>
        </div>
    </div>
    <!--End of physical media container-->
</div>
<!--End of parent container-->

{% endblock %}